{% extends 'basic.html' %}
{% block body %}

 <div class="'container-fluid mt-40 col-lg-12" >
 <div id='products' class="col-lg-12 mx-auto">
            <div class="row mx-auto ">
                        {% for i in data.articles %}
                       <div class="card" style="width: 18rem;">
                       <img src="{{i.urlToImage}}" class="card-img-top" alt="{{i.source.name}}">
                     
                        </div>
                       {% endfor %}
            </div>
    </div>
 </div> 
{% endblock %}
