{% extends 'basic.html' %}
{% block body %}
{% comment %} <div class="'container-fluid mt-40 col-lg-12" >
<div id='products' class="col-lg-12 mx-auto">
<div class="row mx-auto ">
{% for i in all %}

                <div class="card mx-auto mb-3" id="{{i.id}}" style="width: 18rem;">
                
                    <img src="{{i.image.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{i.title}}</h5>
                      <h5 class="card-title">{{i.ne}}</h5>
                      <p>{{i.email}}</p>
                      </div>
                      <div>
                      

{% endfor %}
</div>
</div>
</div> {% endcomment %}

<div class="'container-fluid mt-40 col-lg-12" >
 <div id='products' class="col-lg-12 mx-auto">
            <div class="row mx-auto ">
                {% for i in all %}
                <div class="card mx-auto mb-3" id="{{i.id}}" style="width: 18rem;">
                    <img src="{{i.image.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{i.title}}</h5>
                    
                      <p class="card-text">{{i.ne}}</p>
                      {% comment %} <a href="login">read more</a> {% endcomment %}
                      </div>
                </div>
                {%endfor%}
            </div>
  </div>
 </div>
{%endblock%}































